<div class="table">
  <div class="table-config">
    <p>Add filter:<input @change="addFilter($event)" type="" name="" value=""></p>
    <div class="tags">
      <div class="tag"
        @click="selectedFilter($event, tag)"
        v-for="(tag, index) in tags">
          {{tag.name }}
          <span @click="removeTag($event, index)">X</span>
      </div>
    </div>
  </div>
  <div class="table-header">
    <span>Index</span>
    <span @click="getColumnInforamtion(index)" v-for="(item, index) of header">{{item}}</span>
  </div>
  <div class="table-body">
    <div  class="row" v-for="(row, index) in body">
      <div @contextmenu.prevent="$refs.ctxMenu.open($event, index)">{{ index + 1 }}</div>
      <div @contextmenu.prevent="$refs.ctxMenu.open($event, index)" v-for="col in row">{{col}}</div>
    </div>
  </div>
  <transition name="right">
    <div v-if="data">
      <component :data="data" @close="close($event)"class="table-info" v-bind:is="view"></component>
    </div>
  </transition>
  <context-menu id="context-menu" @ctx-open="onCtxOpen" ref="ctxMenu">
    <li @click="remove($event, index)">DELETE</li>
  </context-menu>
</div>


