<div class="card">
  <div>
    <button @click="record()" type="button">Record</button>
    <button @click="generate()" type="button">Generate</button>
    <button @click="useGenerated()">Use recorded</button>
    <button type="button">Play</button>
  </div>
  <transition-group tag="div"  class="notes piano flex" name="slide-down">
    <div
      @click="play(note.value)"
      :class="[(selectedIndex === index) ? 'isPressed' : '', 'note']"
      v-for="let (note, index) in playingNotes"
      :key="index">
      {{note.name}}
    </div>
  </transition-group>


  <div class="records">
    <h2>Records:</h2>
    <span
      v-for="let (record, index) in records"
      :key="index">
      {{record.name}}
    </span>
  </div>
</div>
